@import url("https://fonts.googleapis.com/css?family=Montserrat");

$colors: (
  bg: black,
  text: white
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body,
html {
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: color(bg);
  .container {
    width: 100%;
    height: 100%;
    color: color(text);
    position: absolute;
    background-image: url("https://picsum.photos/1920/1080/?image=1674");
    background-size: cover;
    text-align: center;
    z-index: -1;
  }

  .navbar {
    margin-top: 150px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-evenly;
    }
  }
  #showcase {
    height: 300px;
    #tag {
      font-size: 50px;
      line-height: 1.3;
      position: relative;
      animation-name: heading-tag;
      animation-duration: 3s;
      animation-fill-mode: forwards;

      @keyframes heading-tag {
        0% {
          top: -50px;
        }
        100% {
          top: 200px;
        }
      }
    }
    #icon {
      display: inline-block;
      opacity: 0;
      border-radius: 50%;
      position: relative;
      animation-name: icon;
      animation-duration: 3s;
      animation-delay: 1s;
      animation-fill-mode: forwards;

      transition-property: transform;
      transition-duration: 1s;

      :hover {
        transform: rotateY(180deg);
      }
      @keyframes icon {
        0% {
          top: -50px;
          opacity: 0;
        }
        100% {
          top: 120px;
          opacity: 1;
        }
      }
    }
    footer p {
      position: absolute;
      bottom: 0px;
    }
  }
}
